# Building Data model project

In [1]:
import psycopg2
import pandas as pd

# Creating database in postgresql

In [2]:
def create_database():
    #connect to default database
    #conn=psycopg2.connect("host=127.0.0.1 dbname=studentdb user=postgres password=8523058480")
    conn=psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=8523058480")
    conn.set_session(autocommit=True)
    cur=conn.cursor()
    
    #create sparkify database with UTF8 encoding
    #cur.execute("DROP DATABASE instagram")
    cur.execute("CREATE DATABASE instagram")
    
    #close connection to default database
    conn.close()
    
    #connect to sparkify database
    conn=psycopg2.connect("host=127.0.0.1 dbname=instagram user=postgres password=8523058480")
    cur=conn.cursor()
    
    return cur,conn

In [3]:
def drop_tables(cur,conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [4]:
def create_tables(cur,conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()

In [ ]:
# Reading Comments csv file using pandas

In [5]:
instaComments=pd.read_csv("E:\DEprojects\data\comments.csv")

In [6]:
instaComments.head()

   id            comment_text  user_id  photo_id        created_at
0   1         unde at dolorem        2         1  13-04-2023 08:04
1   2         quae ea ducimus        3         1  13-04-2023 08:04
2   3      alias a voluptatum        5         1  13-04-2023 08:04
3   4    facere suscipit sunt       14         1  13-04-2023 08:04
4   5  totam eligendi quaerat       17         1  13-04-2023 08:04

In [ ]:
# Reading likes csv file using pandas

In [7]:
instaLikes=pd.read_csv("E:\DEprojects\data\likes.csv")

In [8]:
instaLikes.head()

   user_id  photo_id        created_at
0        2         1  13-04-2023 08:04
1        2         4  13-04-2023 08:04
2        2         8  13-04-2023 08:04
3        2         9  13-04-2023 08:04
4        2        10  13-04-2023 08:04

In [ ]:
# Reading photos csv file using pandas

In [9]:
instaPhotos=pd.read_csv("E:\DEprojects\data\photos.csv")

In [10]:
instaPhotos.head()

   id             image_url  user_id      created_date
0   1     http://elijah.biz        1  13-04-2023 08:04
1   2    https://shanon.org        1  13-04-2023 08:04
2   3      http://vicky.biz        1  13-04-2023 08:04
3   4      http://oleta.net        1  13-04-2023 08:04
4   5  https://jennings.biz        1  13-04-2023 08:04

In [ ]:
#  Reading photo_tags csv file using pandas

In [11]:
instaPhoto_tags=pd.read_csv("E:\DEprojects\data\photo_tags.csv")

In [12]:
instaPhoto_tags.head()

   photo_id  tag_id
0         1      13
1         1      17
2         1      18
3         1      19
4         1      21

In [ ]:
 #Reading follows csv file using pandas

In [53]:
instaFollows=pd.read_csv(r"E:\DEprojects\data\follows.csv")

In [54]:
instaFollows.head()

   follower_id  followee_id        created_at
0            2            1  13-04-2023 08:04
1            2            3  13-04-2023 08:04
2            2            4  13-04-2023 08:04
3            2            5  13-04-2023 08:04
4            2            6  13-04-2023 08:04

In [ ]:
# Reading  tags csv file using pandas

In [15]:
instaTags=pd.read_csv(r"E:\DEprojects\data\tags.csv")

In [16]:
instaTags.head()

   id     tag_name        created_at
0   1       sunset  13-04-2023 08:04
1   2  photography  13-04-2023 08:04
2   3      sunrise  13-04-2023 08:04
3   4    landscape  13-04-2023 08:04
4   5         food  13-04-2023 08:04

In [ ]:
# Reading Users csv file using pandas

In [46]:
instaUsers=pd.read_csv(r"E:\DEprojects\data\users.csv")

In [47]:
instaUsers.head()

   id       username        created_at
0   1  Kenton_Kirlin  16-02-2017 18:22
1   2  Andre_Purdy85  02-04-2017 17:11
2   3  Harley_Lind18  21-02-2017 11:12
3   4  Arely_Bogan63  13-08-2016 01:28
4   5  Aniya_Hackett  07-12-2016 01:04

In [ ]:
# calling create_database function

In [19]:
cur,conn=create_database()

# Creating tables

In [20]:
#instaComments table
comments_table_create=("""CREATE TABLE IF NOT EXISTS instaComments(
id INTEGER PRIMARY KEY,
comment_taxt VARCHAR,
user_id INTEGER,
photo_id INTEGER,
created_at TIMESTAMP)""")

In [21]:
cur.execute(comments_table_create)
conn.commit()

In [22]:
# instaLikes table
likes_table_create=("""CREATE TABLE IF NOT EXISTS instaLikes(
user_id INTEGER,
photo_id INTEGER,
created_at TIMESTAMP)""")

In [23]:
cur.execute(likes_table_create)
conn.commit()

In [24]:
#instaPhoto_tags table
photo_tags_table_create=("""CREATE TABLE IF NOT EXISTS instaPhoto_tags(
photo_id INTEGER,
tag_id  INTEGER)""")

In [25]:
cur.execute(photo_tags_table_create)
conn.commit()

In [26]:
#instaPhotos table
photos_table_create=("""CREATE TABLE IF NOT EXISTS instaPhotos(
id integer PRIMARY KEY,
image_url VARCHAR,
user_id INTEGER,
created_date TIMESTAMP)""")

In [27]:
cur.execute(photos_table_create)
conn.commit()

In [28]:
#instaTags table
tags_table_create=("""CREATE TABLE IF NOT EXISTS instaTags(
id INTEGER PRIMARY KEY,
tag_name VARCHAR,
created_at TIMESTAMP)""")

In [29]:
cur.execute(tags_table_create)
conn.commit()

In [30]:
#instaUsers table
users_table_create=("""CREATE TABLE IF NOT EXISTS instaUsers(
id INTEGER PRIMARY KEY,
username VARCHAR,
created_at TIMESTAMP)""")

In [31]:
cur.execute(users_table_create)
conn.commit()

In [32]:
#instaFollows table
follows_table_create=("""CREATE TABLE IF NOT EXISTS instaFollows(
follower_id INTEGER,
followee_id INTEGER,
created_at TIMESTAMP)""")

In [33]:
cur.execute(follows_table_create)
conn.commit()

# Inserting data into target tables

In [34]:
import csv
import psycopg2
conn=psycopg2.connect("host=127.0.0.1 dbname=instagram user=postgres password=8523058480")
cur=conn.cursor()
with open("E:\DEprojects\data\comments.csv",'r')as f:
    reader=csv.reader(f)
    next(reader)
    for row in reader:
        cur.execute("insert into instaComments values(%s,%s,%s,%s,%s)",
        row
    )
conn.commit()

In [36]:
# comments_table_insert=("""INSERT INTO instaComments(
# id,
# comment_taxt,
# user_id,
# photo_id)
# values(%s,%s,%s,%s)""")
# for i,row in instaComments.iterrows():
#     #print(list(row))
#     cur.execute(comments_table_insert,list(row))
# conn.commit()

In [35]:
# inserting into instaLikes table
likes_table_insert=("""INSERT INTO instaLikes(
user_id,
photo_id,
created_at)
values(%s,%s,%s)""")
for i,row in instaLikes.iterrows():
    #print(list(row))
    cur.execute(likes_table_insert,list(row))
conn.commit()

In [36]:
#inserting into instaPhoto_tags table
photo_tags_table_insert=("""INSERT INTO instaPhoto_tags(
photo_id,
tag_id)
values(%s,%s)""")
for i,row in instaPhoto_tags.iterrows():
    #print(list(row))
    cur.execute(photo_tags_table_insert,list(row))
    
conn.commit()

In [37]:
#inserting into instaPhotos table
photos_table_insert=("""INSERT INTO instaPhotos(
id,
image_url,
user_id,
created_date)
values(%s,%s,%s,%s)""")
for i,row in instaPhotos.iterrows():
    #print(list(row))
    cur.execute(photos_table_insert,list(row))
conn.commit()

In [38]:
#inserting into instaTags table

tags_table_insert=("""INSERT INTO instaTags(
id,
tag_name,
created_at)
values(%s,%s,%s)""")
for i,row in instaTags.iterrows():
    #print(list(row))
    cur.execute(tags_table_insert,list(row))
conn.commit()

In [ ]:
#inserting into instaUsers table

# users_table_insert=("""INSERT INTO instaUsers(
# id,
# username,
# created_at)
# values(%s,%s,%s)""")
# for i,row in instaUsers.iterrows():
#     #print(list(row))
#     cur.execute(users_table_insert,list(row))
# conn.commit()

In [56]:
import csv
import psycopg2
conn=psycopg2.connect("host=127.0.0.1 dbname=instagram user=postgres password=8523058480")
cur=conn.cursor()
with open(r"E:\DEprojects\data\users.csv")as f:
    reader=csv.reader(f)
    next(reader)
    for row in reader:
        cur.execute("insert into instaUsers values(%s,%s,%s)",
        row
    )
conn.commit()

In [ ]:
#inserting into instaFollows table

# follows_table_insert=("""INSERT INTO instFollows(
# follower_id,
# follwee_id,
# created_at)
# values(%s,%s,%s)""")
# for i,row in instaFollows.iterrows():
#     #print(list(row))
#     cur.execute(follows_table_insert,list(row))
# conn.commit()

In [55]:
import csv
import psycopg2
conn=psycopg2.connect("host=127.0.0.1 dbname=instagram user=postgres password=8523058480")
cur=conn.cursor()
with open(r"E:\DEprojects\data\follows.csv")as f:
    reader=csv.reader(f)
    next(reader)
    for row in reader:
        cur.execute("insert into instaFollows values(%s,%s,%s)",
        row
    )
conn.commit()

In [44]:
cur.close()
conn.close()